<div class="players-search-container">


<div class="row">
  <%= render 'search/search_form' %>
</div>


<% unless @players.nil?  %>

      <div class="row">
      <div class="col-xs-3">
        <h3>Browse by Position</h3>
        <ul class="list-group">
          <% for row in @search.facet(:position).rows -%>
              <li class="list-group-item"><input type="checkbox" class="facet-check-box" name="position" value="<%= row.value %>" <%= params[:position] == row.value ? "checked" : "" %>> <%= row.value %> (<%= row.count %>)</li>
          <% end -%>
        </ul>

      </div>
      <div class="col-xs-9  player-search-results-container">
        <% if @players.count > 0 %>
            <h4> <%= @total %> players found.</h4>
            <br>
            <% @players.each do |player| %>
                <div class="list-group row">
                  <div class="col-xs-2 player-number" style="background-color: <%= player.team.color %>">
                    <%= player.id %>
                  </div>
                  <div class="col-xs-10 player-details">
                  <a href="#" class="list-group-item">
                    <h4 class="list-group-item-heading"><%= player.name %></h4>
                    <p class="list-group-item-text"><%= player.position %> | <%= player.club_name %></p>
                  </a>
                  </div>
                </div>
            <% end %>
        <% else %>
            <h3>No results found.</h3>
        <% end %>
      </div>

    </div>

<% end %>
</div>

<script>
    $(document).ready(function () {
        new SOLR.SearchPage($(".players-search-container"));
    })
</script>

