<% if @players.count > 0 %>
    <h4> <%= @total %> players found.</h4>
    <br>
    <% @players.each do |player| %>
        <div class="list-group row">
          <div class="col-xs-2 player-number" style="background-color: <%= player.team.color %>">
            <%= player.points %>
          </div>
          <div class="col-xs-10 player-details">
            <a href="#" class="list-group-item">
              <h4 class="list-group-item-heading"><%= player.name %></h4>
              <p class="list-group-item-text"><%= player.position %> | <%= player.club_name %></p>
            </a>
          </div>
        </div>
    <% end %>
<% else %>
    <h3>No results found.</h3>
<% end %>